.container {
  display: flex;
}

.container .left {
  width: 50%;

  padding: 0 12rem;
}

.container .left .logo {
  max-width: 15rem;
}

.container .left .logo img {
  width: 100%;
}

.container .left .header {
  padding-left: 3.5rem;
}

.container .left .header .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000000;
}

.container .left .header .subtitle {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.5px;
  color: #000000;
  opacity: 0.6;
}

.container .left .form {
  margin-top: 4rem;
  margin-left: 3.5rem;
  padding: 2rem 5rem;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 10px 10px 50px rgba(93, 87, 87, 0.08);
  border-radius: 16px;
}

.container .left .form .inputItem {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .left .form label {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #aaaaaa;
}

.container .left .form .inputItem input {
  border: 1.2px solid #dddddd;
  border-radius: 12px;

  padding: 1.6rem 2rem;

  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  color: #000000;
}

.container .left .form .checkbox {
  margin-top: 2.2rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.container .left .form .checkbox input {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.container .left .form .btn {
  margin-top: 3.5rem;
}

.container .left .form .forgotPass {
  margin-top: 1.8rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #aaaaaa;

  text-align: center;
  cursor: pointer;
}

.container .right {
  min-height: 100vh;
  width: 50%;
  background-color: #00c49a;
}

.container .right .boxOne {
  margin-left: 8.4rem;
  margin-top: 8.4rem;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 25.6rem;
  height: 7.6rem;
  background: #ffffff;
  box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
}

.container .right .boxOne img {
  margin-left: 1.5rem;
  max-width: 3.7rem;
  max-height: 4.2rem;
}

.container .right .boxOne .boxText {
  margin-left: 1rem;
}

.container .right .boxOne .boxText .textOne {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #1b1d21;
}

.container .right .boxOne .boxText .textTwo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #aaaaaa;
}

.container .right .imageContainerOne {
  margin-left: 8.4rem;
  margin-right: 7.5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.container .right .imageContainerTwo {
  display: flex;
  justify-content: center;
  position: relative;
}

.container .right .imageContainerTwo img {
  max-width: 19rem;
}

.container .right .imageContainerTwo .boxTwo {
  position: absolute;
  bottom: 0;
  right: 13%;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 23.7rem;
  height: 7.2rem;
  background: #ffffff;
  box-shadow: 10px 32px 72px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.container .right .imageContainerTwo .boxTwo .boxText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1.9rem;
}

.container .right .imageContainerTwo .boxTwo .boxText .textOne {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.5px;
  color: #000000;
}

.container .right .imageContainerTwo .boxTwo .boxText .textTwo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
  color: #aaaaaa;
}

.container .right .subText {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container .right .subText p {
  padding: 0 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.container .right .ellipseOne {
  top: -2%;
  margin-left: 8.4rem;
  position: absolute;
}

.container .right .ellipseTwo {
  top: 22%;
  left: 45%;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .container .left .form {
    padding: 2rem;
  }

  .container .left {
    padding: 0 6rem;
  }

  .container .right .imageContainerOne {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .container .right .imageContainerOne img {
    max-width: 15rem;
  }

  .container .right .imageContainerTwo img {
    max-width: 17rem;
  }

  .container .right .imageContainerTwo .boxTwo {
    right: 7%;
    max-width: 20rem;
  }

  .container .right .ellipseOne {
    max-width: 30rem;
  }

  .container .right .ellipseTwo {
    top: 24%;
    max-width: 30rem;
  }
}

@media screen and (max-width: 800px) {

  .container .left {
    padding-left: 4rem;
  }

  .container .right .imageContainerOne {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .container .right .ellipseOne {
    top: -2%;
  }

  .container .right .ellipseTwo {
    top: 21%;
  }

  .container .right .imageContainerTwo .boxTwo {
    right: 0;
  }
}
