.card {
  min-width: 40rem;
  padding: 3rem 4rem;
  background: #f8f7ff;
  box-shadow: 0px 4px 40px 3px rgba(49, 49, 51, 0.05);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card .titleContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card .titleContainer .left img {
  border-radius: 50%;
}

.card .titleContainer .right {
  display: flex;
  flex-direction: column;
}

.card .titleContainer .right .name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #242424;
}

.card .titleContainer .right .position {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #042552;
  opacity: 0.7;
}

.card .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #616263;
}
