.container {
  padding: 1.9rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  border: 1px solid #dddddd;
  border-radius: 12px;
  max-width: 18rem;
}

.container span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #252424;
}

.container image {
  max-width: 1.9rem;
}
