.container {
  height: 100vh;
  background: rgb(254, 233, 225);
  display: flex;
  flex-direction: column;
}

.container .logo {
  max-width: 15rem;
}

.container .logo img {
  width: 100%;
}

.container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.container .header .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000000;
}

.container .header .subtitle {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.5px;
  color: #000000;
  opacity: 0.6;
}

.container .form {
  margin-top: 4rem;
  padding: 2rem 5rem;
  min-width: 50rem;
  max-width: 53rem;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 10px 10px 50px rgba(93, 87, 87, 0.08);
  border-radius: 16px;
}

.container .form .inputItem {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .form label {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #aaaaaa;
}

.container .form .inputItem input {
  border: 1.2px solid #dddddd;
  border-radius: 12px;

  padding: 1.6rem 2rem;

  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  color: #000000;
}

.container .form .checkbox {
  margin-top: 2.2rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.container .form .checkbox input {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.container .form .btn {
  margin-top: 3.5rem;
}

.container .form .forgotPass {
  margin-top: 1.8rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #aaaaaa;

  text-align: center;
  cursor: pointer;
}
