.container {
  border: 1px solid #dddddd;
  box-shadow: 10px 0px 50px rgba(96, 124, 236, 0.08);
  border-radius: 1.6rem;
  background: #ffffff;

  padding: 4rem 6rem;

  display: flex;
  gap: 4rem;
}

.container .left {
  width: 50%;
}

.container .left textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border: 1px solid #c9c7c7;
  border-radius: 1.6rem;
  padding: 2rem 3rem;
}

.container .right {
  width: 50%;
}

.container .right .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #302f2f;
}

.container .options {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
