.tag {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.02em;
  color: #1b2126;

  padding: 0.5rem 1.2rem;
  border: 1px solid #cee1ec;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.tag img {
  cursor: pointer;
}
