.container {
  padding: 4rem 5rem;

  display: flex;
  gap: 5rem;
}

.container .left {
  width: 20%;
}

.container .right {
  width: 80%;
  padding: 5.2rem 5.5rem;

  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 16px;
}

.container .right .heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #252424;
}

.container .right .cPass {
  margin-top: 5rem;
  width: 50%;
}

.container .right .nPass {
  margin-top: 4rem;

  display: flex;
  justify-content: space-between;
}

.container .right .btn {
  margin-top: 15rem;
  display: flex;
  justify-content: flex-end;
}
