.container {
  margin-top: 13rem;

  padding-left: 12rem;
}

.container .highlightText {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #ff6812;
}

.container .titleContainer {
  margin-top: 1rem;
  display: flex;

  padding-right: 12rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .titleContainer .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.3rem;
  letter-spacing: -1px;
  color: #242424;

  width: 40%;
}

.container .titleContainer .controllers {
  display: flex;
  gap: 3rem;
}

.container .titleContainer .controllers img {
  cursor: pointer;
  width: 6rem !important;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .container .titleContainer .title {
    width: 60%;
  }
}
