.input {
  width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  position: relative;
}

.input label {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #aaaaaa;
}

.input input {
  padding: 2rem 2.5rem;
  border: 1.2px solid #dddddd;
  border-radius: 1.2rem;
  padding-left: 5rem;

  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  color: #585252;
}

.input .img {
  position: absolute;
  top: 52%;
  left: 2rem;
}
